body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;

}

header {
    background-color: #635858;
    color: #fff;
    padding: 10px;
    text-align: center;
}

#information {
    margin: 10px;
}

main {
    padding: 20px;
}

.gate {
    margin-bottom: 30px;
}

h3 {
    color: #575151;
    text-align: center;
    font-size: 30px;
}

table {
    width: 100%;
    width: 50%;
    border-radius: 20px;
}

th, td {
    border: 2px solid #000000;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

#half-adder {
    width: 20%;
    height: 25%;
    margin-top: 30px;
}

img {
    margin-left: 5rem;
    margin-right: auto;
    display: block;
    width: 26rem;
    height: 10rem;
}

#fulladder {
    height: 15rem;
    width: 45rem;
    margin-right: 30rem;
}
