body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

header {
    background-color: #635858;
    color: #fff;
    padding: 10px;
    text-align: center;
}

main {
    padding: 20px;
}

.gate {
    margin-bottom: 30px;
}

h3 {
    color: #333;
    text-align: center;
    text-shadow:2px 2px #bcaeae;
    font-size: 30px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 2px solid #000000;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

