body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;

}

header {
    background-color: #273149; 
    color: #fff;
    padding: 10px;
    text-align: center;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 800;
}

#information {
    margin: 10px;
    background-color: #f1eff4;
    padding: 0.5rem;
    border-radius: 1rem;
    border: none;
}

main {
    padding: 20px;
}

.gate {
    text-align: center;
}

.logic {
    font-size: 1.25rem;
    background-color: #f2f2f2;
    border-radius: 1rem;
    margin-left: 38rem;
    margin-right: 38rem;
    padding: 0.5rem;
}

h3 {
    color: #575151;
    text-align: center;
    font-size: 30px;
}

table {
    height: 100%;
    width: 70%;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
}

th, td {
    border: 2px solid #000000;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

#half-adder {
    width: 20%;
    height: 25%;
    margin-top: 30px;
}

img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 26rem;
    height: 10rem;
}

#fulladder {
    height: 15rem;
    width: 45rem;
    margin-right:auto;
    margin-left: auto;
    display: block;
    margin-top: 3rem;
}

